<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/login/bootstrap.css" />
	<link rel="stylesheet" href="/css/login/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
             
              <li role="presentation"><a href="/homie">Homepage</a></li>
               
          </ul>
        </nav>
        <h3 class="text-muted">Fci-H Login</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">
            
           <%-body%>
        </div>


      </div>

      <footer class="footer">
        <p>&copy; 2015 LoginApp, Inc.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
